*{
    box-sizing : border-box;
}

html,body{
    height : 100%;
    width : 100%;
}

.container{
    height : 30%;
}

section{
    height : 400px;
}

section > div{
    font-size : 20px;
    height : 100%;
}

.poster > img {
    height : 100%;
    width : auto;
}

.content {
   width : auto;
   // background-color : blue;
}